<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Forest Fire Analysis and Prediction</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <!-- Angular     -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <!-- Bootstrap core CSS     -->
  <link href="./stylesheets/bootstrap.min.css" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="./stylesheets/animate.min.css" rel="stylesheet"/>

  <!--  Light Bootstrap Table core CSS    -->
  <link href="./stylesheets/light-bootstrap-dashboard.css" rel="stylesheet"/>


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="./stylesheets/demo.css" rel="stylesheet" />

  <link href="./stylesheets/map-icons.css" rel="stylesheet" />


  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link href="./stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />

  <style>

    .map-icon-label .map-icon {
      font-size: 50px;
      color: #ce2029;
      line-height: 48px;
      text-align: center;
      white-space: nowrap;
    }

  </style>
</head>
<!--<body>-->
<body ng-app="CMPE295B" data-ng-controller="cmpe295B">
<div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="" class="simple-text">
          Forest Fire Pro
        </a>
      </div>

      <ul class="nav">
        <li>
          <a href="dashboard.html">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="user.html">
            <i class="pe-7s-user"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a href="table.html">
            <i class="pe-7s-note2"></i>
            <p>Satellite Data</p>
          </a>
        </li>
        <li>
          <a href="typography.html">
            <i class="pe-7s-news-paper"></i>
            <p>Topography</p>
          </a>
        </li>
        <li>
          <a href="icons.html">
            <i class="pe-7s-science"></i>
            <p>Fire Prediction</p>
          </a>
        </li>
        <li class="active">
          <a href="maps.html">
            <i class="pe-7s-map-marker"></i>
            <p>Maps</p>
          </a>
        </li>
        <li>
          <a href="firefighters.html">
            <i class="pe-7s-medal"></i>
            <p>Fire Fighters</p>
          </a>
        </li>

        <li>
          <a href="notifications.html">
            <i class="pe-7s-bell"></i>
            <p>Notifications</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Maps</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-globe"></i>
                <b class="caret"></b>
                <span class="notification">5</span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
              </ul>
            </li>
            <li>
              <a href="">
                <i class="fa fa-search"></i>
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="">
                Account
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Dropdown
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="map"></div>

  </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="./javascripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="./javascripts/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="./javascripts/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="./javascripts/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="./javascripts/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUMpj4BI1rWIk7wu3GxyXal2dWDjyqKGU"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="./javascripts/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="./javascripts/demo.js"></script>

<script src="./javascripts/map-icons.js"></script>

<script>

    var app = angular.module('CMPE295B', []);

    app.controller('cmpe295B', function ($scope,$http,$window,$filter) {

        alert("maops");
        $http({
            method: 'GET',
            url: '/maps/getlatlong'
        }).
        then(function(response)
        {
            if (response.data.status == 200)
            {
                alert(response.data.detail[0].lat);
                alert(response.data.detail[0].Long);
                alert(response.data.detail[0].FIRE);
                alert(response.data.detail[0].IMAGE);
                alert(response.data.detail.length);
                // var myLatlng = new google.maps.LatLng(40.748817, -73.985428);
                var bounds = new google.maps.LatLngBounds();
                var mapOptions = {
                    mapTypeId: 'satellite'
                };

                var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                // Add multiple markers to map
                var infoWindow = new google.maps.InfoWindow(), marker, i;
                var infoWindowContent = []

                // Place each marker on the map
                for (i = 0; i < response.data.detail.length; i++) {
                    // Info window content
                    var img1 = "/images/" + response.data.detail[i].IMAGE + "_300.jpg";
                    infoWindowContent.push(
                        ['<div class="info_content">' +
                        '<h3>' + response.data.detail[i].FIRE + '</h3>' +
                        '<img src="' + img1 + '"/>' + '</div>'])

                    var position = new google.maps.LatLng(response.data.detail[i].lat, response.data.detail[i].Long);
                    bounds.extend(position);

                    marker = new Marker({
                        position: position,
                        map: map,
//                        title: markers[i][0],
                        title: response.data.detail[i].name,
                        icon: {
                            path: SQUARE_PIN,
                            fillColor: '#00FFFFFF',
                            fillOpacity: 0,
                            strokeColor: '',
                            strokeWeight: 0
                        },
                        map_icon_label: '<span class="map-icon map-icon-fire-station"></span>'
                    });

                    // Add info window to marker
                    google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
                        return function () {
                            infoWindow.setContent(infoWindowContent[i][0]);
                            infoWindow.open(map, marker);
                        }
                    })(marker, i));

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            alert(response.data.detail[i].name);
                            $window.location.href = '/fire_detection?var=' + response.data.detail[i].IMAGE + '&var1=' + response.data.detail[i].FIRE  + '&var2=' + response.data.detail[i].DATE;
                        }
                    })(marker, i));
                    // Center the map to fit all markers on the screen
                    map.fitBounds(bounds);
                }

                // Set zoom level
                var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                    this.setZoom(4);
                    google.maps.event.removeListener(boundsListener);
                });
        }

        });
    });
</script>

</html>
